*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: darkslategray;
    overflow:hidden;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration:none;
}
.active{
    background-color: #04AA6D;
}

li a:hover:not(.active){
    background-color: #111;
}
@media screen and (min-width:800px){
    li{
        float:left;
    }
    li:nth-of-type(4){
        float:right;
        background-color: lightcoral;
    }
}